<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Assets/css/components.css">
    <link rel="stylesheet" href="~/Assets/css/responsee.css">
    <link rel="stylesheet" href="~/Assets/_plugin/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Assets/_plugin/owl-carousel/owl.theme.css">  

    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="~/Assets/css/template-style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.7.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Assets/js/responsee.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    

    @RenderSection("css", false)
</head>
<body>
    <div id="main" class="container">
        
        @Html.Partial("Menu")
        
        <section style="overflow: hidden;">
            @RenderBody()
        </section>

        <hr>

        <div class="footer">
        </div>

    </div> <!-- /container -->
    @RenderSection("script", false)

</body>
</html>
